html
{
    box-sizing: border-box;
    font-size: 62.5%;
    background: rgb(17, 17, 27);
    color: aliceblue;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

body
{
    font-family: cursive;
    font-size: 1.6rem;
}


h1
{
    font-size: 4rem;
}

.contenedor
{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 480px) { 
    .column-drop-flex
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contenido-principal, .primera
    {
        flex-basis: calc(50% - 1rem);
    }
    
}


@media (min-width: 768px) { 
    .contenido-principal,
    .primera,
    .segunda
    {
        flex: 0 0 calc(33.3% - 2rem);
    }
}