html
{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

body
{
    font-family: cursive;
    font-size: 1.6rem;
}

img
{
    max-width: 100%;
}

h1
{
    font-size: 4rem;
}

.contenedor
{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog 
{}

@media (min-width: 768px) { 
    .contenedor-flex
    {
        display: flex;
        justify-content: space;
    }

    .contenido-principal
    {
        flex-basis: calc(60% - 1rem);
    }
    .sidebar
    {
        flex-basis: calc(20% - 1rem);
    }

    .sidebar-1
    {
        order: -1;
    }
}