html
{
    box-sizing: border-box;
    font-size: 62.5%;
    background: rgb(17, 17, 27);
    color: aliceblue;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

body
{
    font-family: cursive;
    font-size: 1.6rem;
}


h1
{
    font-size: 4rem;
}





@media (min-width: 768px) { 
    .con-sidebar
    {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    aside 
    {
        flex: 3;
    }

    article
    {
        flex: 1;
    }

    
}