html
{
    box-sizing: border-box;
    font-size: 62.5%;
    background: rgb(17, 17, 27);
    color: aliceblue;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

body
{
    font-family: cursive;
    font-size: 1.6rem;
}


h1
{
    font-size: 4rem;
}

.contenedor
{
    max-width: 90%;
    width: 95%;
    margin: 0 auto;
}

